<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMarca</servlet-name>
        <servlet-class>ServletMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModelo</servlet-name>
        <servlet-class>ServletModelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVehiculo</servlet-name>
        <servlet-class>ServletVehiculo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMarca</servlet-name>
        <url-pattern>/ServletMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModelo</servlet-name>
        <url-pattern>/ServletModelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVehiculo</servlet-name>
        <url-pattern>/ServletVehiculo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
